@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: grid; */
}

/* utility class  */

.container {
  /* padding: 50px;
  /* margin: auto; */
  /* height: 550px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.half-width {
  /* flex: 100%; */
  /* flex-basis: 16rem; */
  /* width: 40%;
  margin-left: 4%;
  padding: 3%;
  float: left; */
  max-width: 18rem;
  margin-bottom: 1rem;
  text-align: center;
}

.half-width img {
  width: 100%;
}

.link-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}
.link-btn:hover {
  box-shadow: 0.4rem 0.45rem 0.8rem rgba(0, 0, 0, 0.418);
}

p {
  color: #003300;
  text-align: justify;
  line-height: 1.6;
}

/* header section  */

.header-section {
  background-image: url("./images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img {
  order: 1;
}

.header-txt {
  order: 2;
}
.header-section h1 {
  color: tomato;
}

/* biography section  */

.biography-section {
  background-image: url("./images/biography-bg.png");
  background-size: 100% 100%;
}

.para-group {
  height: 23.2rem;
  width: 100%;
  padding-right: 2%;
  overflow: scroll;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
}

/* my latest work  */
.my-latest-work {
  margin-top: 1.5rem;
  background-image: url("./images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.my-latest-work h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.quarter-width {
  /* width: 30%; */
  /* float: left; */
  /* margin: 0 1.5%; */
  /* max-width: 15rem; */
  max-width: 18rem;
  margin-top: 1rem;
}

.quarter-width img {
  width: 100%;
}
.footer-section {
  /* height: ; */
}
.footer-section h2 {
  text-align: center;
}

.footer-container {
  /* width: 50%;
  margin: 0 auto; */
  width: 18rem;
  max-width: 18rem;
  overflow: hidden;
  text-align: center;
}

.footer-container h4 {
  /* margin-bottom: -20px; */
}
.footer-container h6 {
  color: gray;
}

.contact {
  background-color: lightcoral;
  border-radius: 10px;
  margin-top: 40px;
}

.contact p {
  text-align: center;
  color: white;
}

.bg-txt {
  font-size: 20px;
}
.sm-txt {
  font-size: 12px;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  color: gray;
}

@media screen and (min-width: 40rem) {
  .half-width {
    /* flex: 100%; */
    /* flex-basis: 16rem; */
    margin-left: 4%;
    padding: 3%;
    max-width: 40%;
    text-align: start;
  }

  .header-txt {
    order: 1;
  }
  .latest-work-container {
    width: 100%;
    display: flex;
  }
  .quarter-width {
    max-width: 30%;
    margin: 0 3%;
    margin-top: 1rem;
  }
  .footer-section {
    flex-direction: column;
  }

  .footer-container {
    width: 50%;
    /* margin: 0 auto;  */
    max-width: 50%;
    /* flex-basis: 500px; */
    overflow: hidden;
    text-align: center;
  }
}
