@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.custom-container {
  max-width: 54.5rem;
}

.navbar-brand img {
  width: 51;
  height: 51px;
}

main {
  background-color: #e5e5e5;
}

.text-blue {
  color: #562eff;
}
.blogs img {
  width: 100%;
}

.text-red {
  color: #ed6b4f;
}

.countdown-btn {
  background: #fee5df;
  border-radius: 14.6913px;
  color: #ed6b4f;
  text-align: center;
  display: inline-block;
  padding: 4px 12px;
}
